@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

.body {
  background-color: rgb(233, 233, 233);
  font-family: 'Arial', sans-serif;
}

.h1{
  color: rgb(97, 97, 97);
  font-size: .9em;
  letter-spacing: 1.5px;
}

.button {
  display: inline-flex;
  position: relative;
  height: 60%;
  width: 20%;
  top: 15%;
  bottom: 15%;
  border: 2px solid #afafaf;
  border-radius: 6px;
  color: #afafaf;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#button_hide{
  position: absolute;
  bottom: 2%;
  right: 3%;
  height: 35%;
  width: 4%;
  border: 2px solid #afafaf;
  border-radius: 6px;
  color: #afafaf;
}

#img_hide{
  object-fit: contain;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.loading{
  position: relative;
  left: 8%;
  background-color: transparent;
  display: none;
  display: relative;
  width: 10%;
  height: 70%;
  z-index: 100;
}

#button_start{
  display: inline-flex;
  position: relative;
  height: 60%;
  width: 95%;
  border: 2px solid #afafaf;
  border-radius: 5px;
  color: #afafaf;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button:hover #underline {
  left: 0;
}

#underline{
  width: 101%;
  height: 10%;
  align-self: flex-end;
  left: -101%;
  background: #BFC0C0;
  position: absolute;
  transition: all .3s ease-Out;
  bottom: 0;
  z-index: 100;
}

.button_wrapper {
  position: fixed;
  width: 100%;
  height: 9%;
  top: 0;
  left: 0;
  background-color: rgb(148, 148, 148);
  text-align: center;
  align-items: center;
  z-index: 100;
}

.options_menu {
  position: fixed;
  width: 100%;
  height: 9%;
  top: 9%;
  left: 0;
  background-color: rgb(61, 61, 61);
  display: none;
  text-align: center;
  align-items: center;
  z-index: 100;
}

.transcript {
  font-size: 100%;
  float: right;
  position: fixed;
  overflow: scroll;
  height: 90%;
  top: 10%;
  right: 1%;
  width: 47%;
  z-index: 1;
}

.ytplayer{
  position: fixed;
  top: 10%;
  left: 1%;
  float: left;
  width: 49%;
  z-index: 1;
}

a#url_color:link {
  color: lightseagreen;
}

a#url_color:visited{
  color: lightseagreen;
}

a#url_color:hover{
  color: red;
}

a#url_color:active{
  color: lightseagreen;
}