numpy==1.19.5
scipy==1.4.1
pandas==1.2.2
nltk~=3.5
rake-nltk==1.0.4
gensim~=3.8.3
spacy~=3.0.5
Flask~=1.1.2
transformers~=4.5.1
requests~=2.25.1
flair~=0.8.0.post1
importlib-metadata==3.10.1
smart-open==3.0.0
wikipedia-api==0.5.4
youtube_transcript_api==0.4.1