numpy
scipy
pandas
nltk
gensim
spacy
Flask
transformers
requests
flair
wikipedia-api
youtube_transcript_api
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.0.0/en_core_web_md-3.0.0-py3-none-any.whl